html {
  font-family: "Cafe24Ohsquareair";
  font-size: 20px;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}
header .login-info {
  display: inline-block;
  text-align: right;
}
ul {
  list-style: none;
}
header li {
  float: left;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}
@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.user-data-form p {
  font-weight: bold;
}
textarea {
  border-radius: 21.5px;
}
.loginName {
  position: absolute;
  top: 3%;
  left: 95%;
}
.Tarobot {
  background-size: cover;
  background-image: radial-gradient(
      circle 600px at top left,
      #f7f2eb,
      transparent
    ),
    radial-gradient(circle 2000px at top right, #edf1f6, transparent),
    radial-gradient(circle 500px at bottom left, #f2f0de, transparent),
    radial-gradient(circle 400px at bottom right, #d0e3ff, transparent);
  min-height: 100vh;
  text-align: center;
}

textarea {
  resize: none;
  text-align: center;
}
.main_logo {
  width: 8rem;
  margin: 2rem;
}
.main_title {
  font-size: 48px;
}

.userInfoSubmit {
  position: fixed;
  display: flex;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tarot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-button > div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
  margin: 10px;
  width: 9rem;
  height: 3rem;
  font-family: "Cafe24Ohsquareair";
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.custom-button a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
  margin: 5px;
  width: 9rem;
  height: 3rem;
  font-family: "Cafe24Ohsquareair";
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.custom-button > a:hover,
.custom-button > li > a:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  background-color: #f7f2eb;
  cursor: pointer;
}

.custom-button > a:active,
.custom-button > li > a:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #f7f2eb;
}

.start_hello {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.card-container {
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
.card-container .card-wrapper {
  display: inline-flex;
}
.card-container .card {
  width: 173px;
  height: 312px;
  flex-shrink: 0;
  margin: 1rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}
.card-container .card:hover {
  transform: scale(1.03) translateY(-5%);
  transition: all 0.3s ease-in-out;
}

.choiced-container .choiced-card-content {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
.choiced-container {
  position: relative;
  display: grid;
  padding: 3rem;
  width: 600px;
  height: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem 2rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". box1 ."
    "box2 box1 box3"
    "box2 box7 box3"
    "box4 box7 box5"
    "box4 box6 box5"
    ". box6 .";
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box7 {
  grid-area: box7;
}

.box6 {
  grid-area: box6;
}

.box5 {
  grid-area: box5;
}

.choiced-container .choiced-card-content img {
  width: 173px;
  height: 312px;
}
.loading {
  margin: 5rem;
  font-size: 2rem;
}
.tarot-result {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.gemini-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

/* StartTarot 관련 css */

/* MyPage 관련 css*/
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

/* CardPick 관련 css */
.indiana-scroll-container {
  overflow: auto;
  cursor: grab;
}

.indiana-scroll-container--hide-scrollbars {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.indiana-scroll-container--hide-scrollbars::-webkit-scrollbar {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
  background: transparent !important;
  -webkit-appearance: none !important;
}
