html {
  font-family: "Cafe24Ohsquareair";
  font-size: 20px;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  justify-content: space-between;
}
header .login-info {
  display: inline-block;
  text-align: right;
}
ul {
  list-style: none;
  padding-left: 0px;
}
header li {
  float: left;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #081f5c;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}
@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.user-data-form p {
  font-weight: bold;
}
textarea {
  border-radius: 21.5px;
}
.loginName {
  position: absolute;
  top: 3%;
  left: 95%;
}
.Tarobot {
  background-size: cover;
  background-image: radial-gradient(
      circle 600px at top left,
      #f7f2eb,
      transparent
    ),
    radial-gradient(circle 2000px at top right, #edf1f6, transparent),
    radial-gradient(circle 500px at bottom left, #f2f0de, transparent),
    radial-gradient(circle 400px at bottom right, #d0e3ff, transparent);
  min-height: 100vh;
  text-align: center;
}

textarea {
  resize: none;
  text-align: center;
}
.title-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_logo {
  width: 15rem;
  margin: 2rem;
}
.main_title {
  font-size: 48px;
}
.paging-number {
  text-align: center;
  margin: 20px;
}
.userinfo-container {
  text-align: center;
  margin: 20px;
}

.userInfoSubmit {
  margin: 1rem;
  display: inline-flex;
  width: 400px;
  height: 300px;
  justify-content: space-around;
}
.move-btn {
  margin: 1rem;
  cursor: pointer;
}

.loginBtn {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.tarot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-button > div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
  margin: 10px;
  width: 9rem;
  height: 3rem;
  font-family: "Cafe24Ohsquareair";
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.custom-button a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
  margin: 20px 5px;
  width: 9rem;
  height: 3rem;
  font-family: "Cafe24Ohsquareair";
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.custom-button > a:hover,
.custom-button > li > a:hover { 
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  background-color: #f7f2eb;
  cursor: pointer;
}

.custom-button > a:active,
.custom-button > li > a:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #f7f2eb;
}

.start_hello {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.card-container {
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
.card-container .card-wrapper {
  display: inline-flex;
  margin: 30px;
}
.card-container .card {
  width: 173px;
  height: 312px;
  flex-shrink: 0;
  margin: 1rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}
.card-container .card:hover {
  transform: scale(1.03) translateY(-5%);
  transition: all 0.3s ease-in-out;
}

.choiced-container .choiced-card-content {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
.choiced-container {
  position: relative;
  display: inline-grid;
  padding: 3rem 2rem 0 1rem;
  width: 600px;
  height: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem 2rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". box1 ."
    "box2 box1 box3"
    "box2 box7 box3"
    "box4 box7 box5"
    "box4 box6 box5"
    ". box6 .";
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box7 {
  grid-area: box7;
}

.box6 {
  grid-area: box6;
}

.box5 {
  grid-area: box5;
}

.choiced-container .choiced-card-content img {
  width: 173px;
  height: 312px;
}
.loading {
  margin: 5rem;
  font-size: 2rem;
}
.tarot-result {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
/* Gemini 결과 출력 부분 css */
.was-result {
  text-align: right;
}

.gemini-result-inner {
  margin: 2.2rem;
}
.gemini-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: left;
  background: white;
  overflow: hidden;
  border-radius: 20px;
}
.gemini-result h3 {
  text-align: center;
}
.gemini-result .greeting {
  order: 1;
}
.gemini-result .intro {
  order: 2;
}
.gemini-result .card-title {
  order: 4;
}
.gemini-result .card-list {
  order: 5;
  list-style: decimal-leading-zero;
}
.gemini-result .card-list .card-name {
  text-align: left;
  font-weight: bold;
}
.gemini-result .card-list .card-meaning {
  margin-top: 0.2rem;
}
.gemini-result .overall-interpretation,
.gemini-result .interpretation {
  order: 3;
}
.gemini-result .advice {
  order: 6;
}
.gemini-result .advice-list {
  order: 7;
  list-style: decimal-leading-zero;
}
.gemini-result .advice-list .advice-item {
  text-align: left;
}
.gemini-result .closing {
  order: 8;
}
/* StartTarot 관련 css */

/* MyPage 관련 css*/
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

/* CardPick 관련 css */
.indiana-scroll-container {
  overflow: auto;
  cursor: cursor;
  margin: 20px;
  width: 97%;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.indiana-scroll-container::-webkit-scrollbar {
  width: 70% !important; /* 스크롤바의 너비 */
  margin: 30px;
}

.indiana-scroll-container::-webkit-scrollbar-thumb {
  width: calc(100% / 77) !important; /* 스크롤바의 길이 */
  background: #081f5c; /* 스크롤바의 색상 */
  border-radius: 30px;
}

.indiana-scroll-container::-webkit-scrollbar-track {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
}

.tarot-result-page {
  display: inline-block;
}
.lv1-category,
.lv2-date {
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .tarot-result {
    flex-wrap: wrap;
  }
  .tarot-result-page {
    order: 2;
  }
  .choiced-container {
    order: 1;
  }
}
