@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Cafe24Ohsquareair", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-image: radial-gradient(
      circle 600px at top left,
      #f7f2eb,
      transparent
    ),
    radial-gradient(circle 2000px at top right, #edf1f6, transparent),
    radial-gradient(circle 500px at bottom left, #f2f0de, transparent),
    radial-gradient(circle 400px at bottom right, #d0e3ff, transparent);
}
